<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <h3 class="page-header">Front Page Charts</h3>

    <div class="chart" [routerLink]="['/top-30']">
      <h4>Top 30</h4>
    </div>

    <div class="chart" [routerLink]="['/ads']">
      <h4>Ads</h4>
    </div>

    <div class="chart" [routerLink]="['/hip-hop']">
      <h4>Hip-Hop</h4>
    </div>

    <div class="chart" [routerLink]="['/hip-hop-ads']">
      <h4>Hip-Hop Ads</h4>
    </div>

    <div class="chart" [routerLink]="['/rpm']">
      <h4>RPM</h4>
    </div>

    <div class="chart" [routerLink]="['/rpm-ads']">
      <h4>RPM Ads</h4>
    </div>

    <div class="chart" [routerLink]="['/metal']">
      <h4>Metal</h4>
    </div>

    <div class="chart" [routerLink]="['/metal-ads']">
      <h4>Metal Ads</h4>
    </div>

    <div class="chart" [routerLink]="['/world']">
      <h4>World</h4>
    </div>

    <div class="chart" [routerLink]="['/world-ads']">
      <h4>World Ads</h4>
    </div>

  </div>
</div>
