<div class="row">
  <div class="col-md-12">
    <h3 class="page-header">My Shows</h3>
  </div>
</div>

<div class="row">

  <div class="col-md-12">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Name</th>
          <th>On Air</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let show of myShows" [routerLink]="['/manage-episodes/', show._id]">
          <td>{{show.name}}</td>
          <td>{{show.onAir}}</td>
        </tr>
      </tbody>
    </table>
  </div>

</div>
