<div class="row">
  <div class="col-sm-3 col-xs-3 col-md-3" id="timeSlots">

    <div class="slot">
      <h5>00:00</h5>
    </div>

    <div class="slot">
      <h5>00:30</h5>
    </div>

    <div class="slot">
      <h5>01:00</h5>
    </div>

    <div class="slot">
      <h5>01:30</h5>
    </div>

    <div class="slot">
      <h5>02:00</h5>
    </div>

    <div class="slot">
      <h5>02:30</h5>
    </div>

    <div class="slot">
      <h5>03:00</h5>
    </div>

    <div class="slot">
      <h5>03:30</h5>
    </div>

    <div class="slot">
      <h5>04:00</h5>
    </div>

    <div class="slot">
      <h5>04:30</h5>
    </div>

    <div class="slot">
      <h5>05:00</h5>
    </div>

    <div class="slot">
      <h5>05:30</h5>
    </div>

    <div class="slot">
      <h5>06:00</h5>
    </div>

    <div class="slot">
      <h5>06:30</h5>
    </div>

    <div class="slot">
      <h5>07:00</h5>
    </div>

    <div class="slot">
      <h5>07:30</h5>
    </div>

    <div class="slot">
      <h5>08:00</h5>
    </div>

    <div class="slot">
      <h5>08:30</h5>
    </div>

    <div class="slot">
      <h5>09:00</h5>
    </div>

    <div class="slot">
      <h5>09:30</h5>
    </div>

    <div class="slot">
      <h5>10:00</h5>
    </div>

    <div class="slot">
      <h5>10:30</h5>
    </div>

    <div class="slot">
      <h5>11:00</h5>
    </div>

    <div class="slot">
      <h5>11:30</h5>
    </div>

    <div class="slot">
      <h5>12:00</h5>
    </div>

    <div class="slot">
      <h5>12:30</h5>
    </div>

    <div class="slot">
      <h5>13:00</h5>
    </div>

    <div class="slot">
      <h5>13:30</h5>
    </div>

    <div class="slot">
      <h5>14:00</h5>
    </div>

    <div class="slot">
      <h5>14:30</h5>
    </div>

    <div class="slot">
      <h5>15:00</h5>
    </div>

    <div class="slot">
      <h5>15:30</h5>
    </div>

    <div class="slot">
      <h5>16:00</h5>
    </div>

    <div class="slot">
      <h5>16:30</h5>
    </div>

    <div class="slot">
      <h5>17:00</h5>
    </div>

    <div class="slot">
      <h5>17:30</h5>
    </div>

    <div class="slot">
      <h5>18:00</h5>
    </div>

    <div class="slot">
      <h5>18:30</h5>
    </div>

    <div class="slot">
      <h5>19:00</h5>
    </div>

    <div class="slot">
      <h5>19:30</h5>
    </div>

    <div class="slot">
      <h5>20:00</h5>
    </div>

    <div class="slot">
      <h5>20:30</h5>
    </div>

    <div class="slot">
      <h5>21:00</h5>
    </div>

    <div class="slot">
      <h5>21:30</h5>
    </div>

    <div class="slot">
      <h5>22:00</h5>
    </div>
    <div class="slot">
      <h5>22:30</h5>
    </div>
    <div class="slot">
      <h5>23:00</h5>
    </div>
    <div class="slot">
      <h5>23:30</h5>
    </div>


  </div>

  <div class="col-xs-9 col-sm-9 col-md-9" id="shows">

    <div (click)="linkToShow(0)" innerHTML = "{{displayShow(0)}}"></div>
    <div (click)="linkToShow(1)" innerHTML = "{{displayShow(1)}}"></div>
    <div (click)="linkToShow(2)" innerHTML = "{{displayShow(2)}}"></div>
    <div (click)="linkToShow(3)" innerHTML = "{{displayShow(3)}}"></div>
    <div (click)="linkToShow(4)" innerHTML = "{{displayShow(4)}}"></div>
    <div (click)="linkToShow(5)" innerHTML = "{{displayShow(5)}}"></div>
    <div (click)="linkToShow(6)" innerHTML = "{{displayShow(6)}}"></div>
    <div (click)="linkToShow(7)" innerHTML = "{{displayShow(7)}}"></div>
    <div (click)="linkToShow(8)" innerHTML = "{{displayShow(8)}}"></div>
    <div (click)="linkToShow(9)" innerHTML = "{{displayShow(9)}}"></div>
    <div (click)="linkToShow(10)" innerHTML = "{{displayShow(10)}}"></div>
    <div (click)="linkToShow(11)" innerHTML = "{{displayShow(11)}}"></div>
    <div (click)="linkToShow(12)" innerHTML = "{{displayShow(12)}}"></div>
    <div (click)="linkToShow(13)" innerHTML = "{{displayShow(13)}}"></div>
    <div (click)="linkToShow(14)" innerHTML = "{{displayShow(14)}}"></div>
    <div (click)="linkToShow(15)" innerHTML = "{{displayShow(15)}}"></div>
    <div (click)="linkToShow(16)" innerHTML = "{{displayShow(16)}}"></div>
    <div (click)="linkToShow(17)" innerHTML = "{{displayShow(17)}}"></div>
    <div (click)="linkToShow(18)" innerHTML = "{{displayShow(18)}}"></div>
    <div (click)="linkToShow(19)" innerHTML = "{{displayShow(19)}}"></div>
    <div (click)="linkToShow(20)" innerHTML = "{{displayShow(20)}}"></div>
    <div (click)="linkToShow(21)" innerHTML = "{{displayShow(21)}}"></div>
    <div (click)="linkToShow(22)" innerHTML = "{{displayShow(22)}}"></div>
    <div (click)="linkToShow(23)" innerHTML = "{{displayShow(23)}}"></div>
    <div (click)="linkToShow(24)" innerHTML = "{{displayShow(24)}}"></div>
    <div (click)="linkToShow(25)" innerHTML = "{{displayShow(25)}}"></div>
    <div (click)="linkToShow(26)" innerHTML = "{{displayShow(26)}}"></div>
    <div (click)="linkToShow(27)" innerHTML = "{{displayShow(27)}}"></div>
    <div (click)="linkToShow(28)" innerHTML = "{{displayShow(28)}}"></div>
    <div (click)="linkToShow(29)" innerHTML = "{{displayShow(29)}}"></div>
    <div (click)="linkToShow(30)" innerHTML = "{{displayShow(30)}}"></div>
    <div (click)="linkToShow(31)" innerHTML = "{{displayShow(31)}}"></div>
    <div (click)="linkToShow(32)" innerHTML = "{{displayShow(32)}}"></div>
    <div (click)="linkToShow(33)" innerHTML = "{{displayShow(33)}}"></div>
    <div (click)="linkToShow(34)" innerHTML = "{{displayShow(34)}}"></div>
    <div (click)="linkToShow(35)" innerHTML = "{{displayShow(35)}}"></div>
    <div (click)="linkToShow(36)" innerHTML = "{{displayShow(36)}}"></div>
    <div (click)="linkToShow(37)" innerHTML = "{{displayShow(37)}}"></div>
    <div (click)="linkToShow(38)" innerHTML = "{{displayShow(38)}}"></div>
    <div (click)="linkToShow(39)" innerHTML = "{{displayShow(39)}}"></div>
    <div (click)="linkToShow(40)" innerHTML = "{{displayShow(40)}}"></div>
    <div (click)="linkToShow(41)" innerHTML = "{{displayShow(41)}}"></div>
    <div (click)="linkToShow(42)" innerHTML = "{{displayShow(42)}}"></div>
    <div (click)="linkToShow(43)" innerHTML = "{{displayShow(43)}}"></div>
    <div (click)="linkToShow(44)" innerHTML = "{{displayShow(44)}}"></div>
    <div (click)="linkToShow(45)" innerHTML = "{{displayShow(45)}}"></div>
    <div (click)="linkToShow(46)" innerHTML = "{{displayShow(46)}}"></div>
    <div (click)="linkToShow(47)" innerHTML = "{{displayShow(47)}}"></div>



  </div>
</div>
