<div class="row">

  <div class="col-md-8 col-sm-8 col-xs-8">
    <span class="upcoming-programming"><h3>UPCOMING PROGRAMMING</h3></span>
  </div>

  <div class="col-md-4 col-sm-4 col-xs-4">
    <span class="full-schedule" (click)="goToSchedule()">FULL SCHEDULE</span>
  </div>

</div>

<div class="row">

  <div class="col-md-12 col-sm-12 col-xs-12">

    <div class="left-arrow">
      <i class="fa fa-angle-left fa-5x" aria-hidden="true"></i>
    </div>

    <div class="right-arrow">
      <i class="fa fa-angle-right fa-5x" aria-hidden="true"></i>
    </div>

  </div>

</div>
