<div class="row main-wrapper">
  <div class="col-md-3 image-box">
    <img class="show-image" src="http://localhost:3000/{{currentShow?.thumbnailPath}}">
  </div>
  <div class="col-md-3 now-playing">
    <h3 class="page-header">{{currentShow?.name}}</h3>
    <div *ngIf="currentTrack && (currentTrack.classification == 'Theme')">
      <p><strong>Now Playing:</strong> {{currentTrack?.artist}} - {{currentTrack?.title}}</p>
      <p>{{currentTrack?.album}} - {{currentTrack?.year}}</p>

    </div>

    <div *ngIf="currentTrack && (currentTrack.classification == 'Talk')">
      <p *ngIf="currentTrack.title"><strong>Now Discussing:</strong> {{currentTrack?.title}}</p>
    </div>
  </div>

  <div class="col-md-3 buttons">
    <button class="btn btn-primary" (click)="play()" *ngIf="!playing">Play</button>
    <button class="btn btn-primary" (click)="pause()" *ngIf="playing">Pause</button>
    <input type="range" [ngModel]="volume" (ngModelChange)="changeVolume($event)" step="0.01" min="0" max="1">
    <button class="btn btn-primary" (click)="live()" >Listen to CJLO live!</button>
    <button class="btn btn-primary" (click)="toggleBuilder()" >My Playlist</button>

    <div *ngIf="!radio" id="progressBar" (click)="skip($event)"><span id="progress"></span></div>


  </div>
</div>

<div class="row playlist-builder">

  <div class="col-md-7 col-xs-7 col-sm-7">
    <h3 class="page-header">My Playlist</h3>

    <button class="btn btn-primary" (click)="deletePlaylist()" >Clear Playlist</button>
    <div *ngFor="let show of showNames; let i=index">
      <h4>{{show}}</h4>
      {{this.ds.formatDate(episodeDates[i])}}
      <span class="glyphicon glyphicon-remove pull-right" (click)="removeTrack(i)"></span>
    </div>

    <h3 class="page-header">Shows</h3>
    <div class="shows">
      <app-shows-for-playlist></app-shows-for-playlist>
    </div>
  </div>

  <div class="col-md-5 col-xs-5 col-sm-5">
    <h3 class="page-header">Add by genre</h3>
    <div *ngFor="let tag of tags" id="{{tag}}" class="tag unclicked" (click)="addFromTag(tag)" (mousedown)="highlight($event)" (mouseup)="removeHighlight($event)">
      <strong class="child">{{tag}}</strong>
    </div>
  </div>
</div>
