<div class="row">
  <div class="col-md-12">
    <h2 class="page-header">Schedule</h2>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h3 *ngIf="!this.weeklyView"class="month">{{this.dateTime.displayMonth(selectedDate)}}</h3>
  </div>
</div>

<div class="row">

  <div class="col-xs-4 col-sm-4 col-md-4">
    <button class="left btn btn-primary" (click)="deincrementDay()">Back</button>
  </div>

  <div class="col-xs-4 col-sm-4 col-md-4">
    <h4 *ngIf="!this.weeklyView" class="day">{{this.dateTime.displayDay(selectedDate)}}</h4>
  </div>

  <div class="col-xs-4 col-sm-4 col-md-4">
    <button class="right btn btn-primary" (click)="incrementDay()">forward</button>
  </div>

</div>

<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12">
    <h4 *ngIf="!this.weeklyView" class="date">{{this.dateTime.displayDate(selectedDate)}}</h4>
  </div>
</div>

<app-weekly-calendar *ngIf="this.weeklyView" [selectedDate]="this.selectedDate"></app-weekly-calendar>
